@import '../../styles/colors.scss';

.container {
  background-color: $beige-light;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.2);
}

.form {
  position: relative;
}

.spacer {
  height: 10px;
}
