@import '../../styles/colors.scss';

.textFieldShared {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $accent;
  border-radius: 10px;
  height: 40px;
  background-color: white;
  font-size: 1.1em;
}

.textField {
  padding: 10px;
}
