@import "../../../styles/colors.scss";

.item {
  height: 100%;
  list-style: none;
  box-sizing: border-box;
}

.active {
  border-bottom: $accent solid 4px;
  background-color: $primary-strong;
}

.text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text,
.action {
  margin: 0;
  font-size: 20px;
}

.link,
.action {
  display: block;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;

  &,
  &:hover,
  &:visited {
    color: $black;
  }

  &:hover {
    background-color: $primary-strong;
  }
}
